<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Courses</h3>
      </div>
      <div class="panel-body">
        Add/Edit/Remove courses
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to("Users", users_path) %></h3>
      </div>
      <div class="panel-body">
        Add/Edit users
      </div>
    </div>
  </div>
</div>