<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <%= image_tag "learn-1.jpg" %>
      <div class="carousel-caption">
        <h3>Learning should be easy</h3>
        <p>Study content at your own pace.<p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "learn-2.jpg" %>
      <div class="carousel-caption">
        <h3>Always available resources</h3>
        <p>Access content 24 hours a day/ 7 days a week.<p>
      </div>
    </div>
     <div class="item">
       <%= image_tag "learn-3.jpg" %>
      <div class="carousel-caption">
        <h3>Learn new applicable skills</h3>
        <p>Knowledge can give you a bridge to a better future.<p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="middle-welcome-container">
  <section>
        <div class="container">
            <h2 class="text-center">What is Learn 24x7?</h2>
            <p class="lead">
                <b>Learn 24x7</b> is platform for learning and engaging users in learning activities.
                    Our platform provides feedback systems, testing integration, instructor administration areas,
                    and many more features growing all the time.
            </p>
            <div class="feature-columns row">
                <div class="col-sm-4">
                    <i class="fa fa-cubes fa-3x" style="display:block !important;width: 50px;margin-left: auto;margin-right: auto;"></i><br>
                    <b>Build your skills</b> by participating in an
                        online learning information system built with
                        you in mind.
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-puzzle-piece fa-3x" style="display:block !important;width: 50px;margin-left: auto;margin-right: auto;"></i><br>
                    <b>Solve problems</b> in order to show your
                        instructor that the course material is not
                        only being learned but is relevant.
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-tint fa-3x" style="display:block !important;width: 50px;margin-left: auto;margin-right: auto;"></i><br>
                    <b>No tears</b> as learning is at your
                        own pace and is structured in a pleasant
                        manner.
                </div>
            </div>
        </div>
    </section>
</div>