// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.middle-welcome-container {
	background-color: lightgray;
	
}

i#center-block {
	display: block !important;
	width: 50px;
    margin-left: auto;
    margin-right: auto;
}